@model HtmlString
@{
    ViewBag.Title = "Course Management - Archived";
}

<h2>
    @ViewBag.Title
    <a href="/course/index" class="btn btn-primary btn-sm" style="float: right;">
        <i class="fa fa-arrow-left"></i> Back to Test List
    </a>
</h2>
<hr />
@Html.Raw(Model)