@{
    ViewBag.Title = "ETSU Department of Computing";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address class="well">
    Department of Computing<br />
    PO Box 70711<br />
    Johnson City, TN 37614-1266<br />
    <abbr title="Phone">P:</abbr>
    423-439-5328
</address>

<address->
    <strong>Contact Admin:</strong>   <a href="mailto:barrettm@etsu.edu">barrettm@etsu.edu</a><br />
</address->