@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Welcome to the Dept. of Computing Oral Exit Exam</h1>
    </div>
    <br />
    <div class="well text-center" style="margin: 0 auto; display: block;">
        <h3>What is the Graduate Oral Exit Exam?</h3>
        <p>
            The Graduate Oral Exit Exam is a question based test that is required by all Department of Computing
            Graduate students.<br /> This exam is administered by Dr. Barret (Graduate Coordinator)
        </p>
        <p><a class="btn btn-primary" href="https://www.cs.etsu.edu/current/currentgrad">Learn more &raquo;</a></p>
    </div>
</div>