@model HtmlString
@{
    ViewBag.Title = "Question Management";
}

<h2>@ViewBag.Title</h2>
<hr />
@Html.Raw(Model)

<a href="/questions/viewarchive" class="btn btn-primary btn-sm" style="float: right;">
    <i class="fa fa-arrow-left"></i> Archived Questions
</a>