@model HtmlString

@{
    ViewBag.Title = "View Student Information";

}

<h2>@ViewBag.Title
    <a href="/student/index" class="btn btn-primary btn-sm" style="float: right;">
        <i class="fa fa-arrow-left"></i> Back to Students List
    </a>
</h2>

<div>
    @Html.Raw(Model)
</div>
