@model HtmlString
@{
    ViewBag.Title = "Archived Students";
}

<h2>
    @ViewBag.Title
    <a href="/student/index" class="btn btn-primary btn-sm" style="float: right;">
        <i class="fa fa-arrow-left"></i> Back to Student List
    </a>
</h2>
<hr />
@Html.Raw(Model)