body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.body-content {
  width: 75%;
  margin: 0 auto;
  margin-top: 70px; 
  background-color: #DDDDDD;
  padding: 20px;
  border-radius: 5px; 
}

.dataTables_wrapper{
  padding: 5px; 
}

/*Flash Messenger CSS*/
#messages {
    margin-bottom: 2em;
}

#messages ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#messages ul li {
    display: block;
    margin: .75em 0;
    padding: 10px;
    border: 2px solid #ddd;
    background-color: #eee;
    color: #222;
}

#messages ul.Notice li {
    background: #FFF6BF;
    color: #817134;
    border-color: #FFD324;
}

#messages ul.Success li {
    background: #E6EFC2;
    color: #529214;
    border-color: #C6D880;
}

#messages ul.Error li {
    background: #FBE3E4;
    color: #D12F19;
    border-color: #FBC2C4;
}