@model HtmlString

@{
    ViewBag.Title = "View User Information";
}

<h2>@ViewBag.Title
    <a href="/profile/index" class="btn btn-primary btn-sm" style="float: right;">
        <i class="fa fa-arrow-left"></i> Back to Users List
    </a>
</h2>
<br />
<div>
    @Html.Raw(Model)
</div>
